/* General Rules */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body{
  height: 100%;
}


.fullHieght{
  height: 100vh !important;
}
.noticed li{
  list-style: none;
}
.noticed li a{
  text-decoration: none !important;
}
/* End General Rules */

/* Start Header */
.front_header{
  background: #fff;
  margin: 0 auto;
}
/* End Header */

/* skip UIKIT Frame-work rules */
.uk-card-header{
  padding: 9px;
}
.uk-pagination>*>:focus, .uk-pagination>*>:hover{
  color: #fff !important;
}
.uk-overlay-primary {
    background: rgba(34,34,34,.6);
}
.uk-card-default .uk-card-footer {
    border-top: none;
    height: 25px;
    padding: 0;
    overflow: hidden;
}
.uk-card-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.uk-label-success {
  color: rgb(34, 19, 82) !important;
}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
  min-height: 50px;
}


.upperNav {
    margin: auto;
    background: #1a0a4c;
}

.upperNav div a svg, .upperNav div span svg{
  color: #ddd !important;
  font-size: 24px;
}
.upperNav div span{
  color: #ddd;
  font-size: 19px;
  letter-spacing: 1px;
}
.upperNav div svg{
  color:#1a0a4c !important;
}

.sizing{
  font-size: 14px !important;
}
.hold-login{
  background: #fff;
  height: 75%;
}
.uk-accordion-title{
  text-align: center;
  padding: .1em;
  cursor: pointer;
  background: #1a0a4c;
  font-size: 19px !important;
  letter-spacing: 1px;
  margin: 0;
  color: #dddddd
}
.uk-accordion-title:hover{
  color: #fff;
}
.uk-accordion-content {
    margin: auto !important;
    text-align: center;
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;

}
.uk-navbar-nav li a{
  color: #2e0080;
  letter-spacing: 1px;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 17px;
}

.list_home a:hover,
.list_homepage a:hover{
  color: #2e0080 !important;
}
.uk-navbar-nav li a svg{
  margin-right: 9px;
  margin-left: 9px;
}

.list_home a svg{
  color: #f0506e;
}
.uk-navbar-nav li a svg:hover{
  color: #f0506e;
}

.uk-accordion-content div a{
  color: #1a0a4c;
  text-decoration: none;
}
.uk-accordion-content div a:hover{
  color: #666;
}
.uk-table th,
.uk-table td{
  text-align: center;
}

.hp_post{
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
/* End Skip */
/* Frame-Work */
.posts-tit{
  margin-top: 1em !important;
  margin: auto;
}
.MainColor{
  color: #1a0a4c !important;
}
.MainBack{
  background-color: #1a0a4c !important;
}

.sec_color{
  color: rgb(34, 19, 82) !important;
}

.sec_background{
  background: #f0506e !important;
}

.list_nav a:hover {
    color: #fff !important;
}
.list_nav a {
    color: #ccc !important;
}

.otherBackground{
}
.border_left_ccc{
  border-left: 2px dotted #ccc;
}
.overflow_scroll{
  overflow: scroll;
}
.active::before{
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 0px 5px 5px;
  border-color: transparent transparent transparent #222;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  margin-bottom: 3px;
}
.active{
  color: #222 !important;
}
/* End Frame-Work */


/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a0a4c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #444; */
}
/* End scroll bar */

.media{
  background-color: #dddddd;
  justify-content: space-around;
  padding: 0.5em !important;
}
.media div a,
.uk-totop {
  color: #1a0a4c !important;
}

/* Start Posts Page */
.post_title{
  text-align: left;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 4px;
  color: #f0506e;
  border-bottom: 1px solid rgba(240, 80, 110, 0.25);
  text-shadow: 1px 1px 1px rgb(46, 0, 128);
  line-height: 2em;
  font-size: 48px;
}
.post_img{
  width: 600px;
  height: 300px;
  border-radius: 9px;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.post-content{
  text-align: left;
  width: 85%;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #f0506e;
}
/* End Posts Page */

/* Sidebar */
.side-profile-title{
  padding: 0.5em;
  margin: 0;
  text-align: center;
  background: #1a0a4c;
  color: #ddd;
}
/* End sidebar */


/* start Sidebar Posts */

.latest_users,
.latest_posts{
  border: 1px solid #ccc;
  padding: .8em;
  box-shadow: -2px 2px 8px -2px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  position: relative;
  top: 7em;
}
.latest_posts h4,
.latest_users h4{
  color: #f0506e;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  padding: 6px;
  margin: 6px;
}
.latest_users{
  margin-top: 9px;
}
/* End Sidebar Posts */
.latest .toggle-info {
	color: #999;
	cursor: pointer
}

.latest .toggle-info:hover {
	color: #444;
}

.dooo{
  background: #000 !important;
}


.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
}
.login-page{
  background: #fff;
  height: 100%;
}
.login-page .selected{
  color: green !important;
}
.login-page [data-class="login"].selected {
  color: black !important;
}
.login-page [data-class="signup"].selected {
  color: orange !important;
}

.login-page h2{
  color: gray;
}
.login-page h2 span{
  cursor: pointer;
}

.login-page .signup{
  display: none;
}

.acitveTwo{
  background: #2e0080!important;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2);
}

.acitveTwo a {
  color: #fff !important;
}

.active_upper{
  background: rgb(34, 19, 82) !important;
}

.log-sign{
  color: #ddd;
font-size: 26px;

}
.log-sign:hover{
  text-decoration: none;
  color: #fff;
}
/* start Profile Page */
.profile-title{
  margin: 0;
  border-bottom: 1px solid #1a0a4c;
  padding: .5em;
}
.hold_posts{
  background: #dcc;
  padding: .5em;
}

.profile_img img{
  border-radius: 50%;
  margin-right: 9px;
}
/* End Profile Page */


/* Start Footer */

.hold_footer{
  padding: 2em;
  border: 1px solid #f0506e;
  margin: 2em;
}
h1,
      h2,
      h3,
      h4,
      h5,
      h6 {}
      a,
      a:hover,
      a:focus,
      a:active {
          text-decoration: none;
          outline: none;
      }

      a,
      a:active,
      a:focus {
          color: #333;
          text-decoration: none;
          transition-timing-function: ease-in-out;
          -ms-transition-timing-function: ease-in-out;
          -moz-transition-timing-function: ease-in-out;
          -webkit-transition-timing-function: ease-in-out;
          -o-transition-timing-function: ease-in-out;
          transition-duration: .2s;
          -ms-transition-duration: .2s;
          -moz-transition-duration: .2s;
          -webkit-transition-duration: .2s;
          -o-transition-duration: .2s;
      }

      ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }
      img {
  max-width: 100%;
  height: auto;
}
      section {
          padding: 60px 0;
         /* min-height: 100vh;*/
      }
.footer {
  background: linear-gradient(105deg,#6e99e6 ,#093c94);
  padding-top: 80px;
  padding-bottom: 40px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer{}
@media only screen and (max-width:768px) {
.single_footer{margin-bottom:30px;}
}

.single_footer h4 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f0506e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.single_footer h4:before,
.single_footer h4:after {
    content: '';
    border-top: 2px solid #ccc;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.single_footer h4:after {
    margin: 0 0 0 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.single_footer ul li{
  padding: 0;
  text-align: center;
}
.single_footer ul li a {
  color: #2e0080;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 15px;
text-transform: capitalize;
letter-spacing: 1px;
}
.single_footer ul li a:hover {
  font-weight: 900;
  letter-spacing: 2px;
 }

.single_footer_address{}
.single_footer_address ul{}
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}
.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
}

.signup_form{
  border-bottom: 1px solid #2e0080;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.subscribe__input {
  height: 40px;
  letter-spacing: 0.4px;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  width: 75%;
  background: none;
  border: none;
  color: #f0506e;
}
@media only screen and (max-width:768px) {
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
  background-color: transparent;
  color: #2e0080;
  cursor: pointer;
  width: 20%;
}

.subscribe__input::placeholder{
  color: #2e0080;
  letter-spacing: 2px;
}
.subscribe__input:focus{
  outline: none;
  border-left: 1px solid #ccc;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) {
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
  color:#ff3666;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {
  padding: 0;
}

.social_profile ul {
  list-style: outside none none;
  width: 100%;
  display: flex;
  margin-top: 3em;
  padding: 6px;
  background: #f0506e;
  transition: all .5s ease-in;
}
.social_profile ul:hover{
}
.social_profile ul li{float:left;}
.social_profile ul li a {
  transition: all 0.3s ease 0s;
  font-size: 28px;
  color: #ccc;
}
@media only screen and (max-width:768px) {
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) {
.social_profile ul li a{
  width:40px;
  height:40px;
  line-height:40px;
}
}
.social_profile ul li a:hover{
color:#fff;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.copyright a{color:#fff;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#FFEB3B;}
/* End Footer */

.home_title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #2e0080;
  font-weight: 900;
}


.home_title:after {
  content: '';
  border-top: 1px solid rgba(240, 80, 110, 0.3);
  margin: 3px 20px 0px 10px;
  flex: 1 0 20px;
}
/* Start Categories Page */
.categories{

}
.cat-posts {
  width: 100%;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cat_title{

}
.cat_title h1{
  color: #2e0080;
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 2px;
}
.cat_title h1 span {
    color: #f0506e;
}

.cat_pagi{

}
.cat_pagi ul{
  padding: 1em;
  margin-top: 1em;
  border-top: 1px solid rgba(240, 80, 110, 0.35);
}

.cat_pagi ul li {
  padding: 7px;
  padding-left: 17px;
  padding-right: 17px;
  background: #f0506e;
  font-weight: 900;
  border-radius: 20px 0 20px 20px;
  box-shadow: 3px 3px 0px 0px rgb(46, 0, 128);
}
.cat_pagi ul li a{
  color: #ccc;
}

.cat_pagi ul li a:hover{
  color: #fff;
}
.child_cat{
  display: flex !important;
  background: #ccc !important;
  padding: 1em !important;
}
/* End Categories Page */

/* Footer Main */
.hold_latest{
  display: flex;
}

.hold_latest ._latest_posts{
  width: 100%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
}

._latest_posts div{
  display: flex;
  align-items: center;
}

/* Footer Main */
.activePag{
  background: #2e0080 !important;
  border-radius: 25px 25px 25px 0px !important;
  box-shadow: none !important;
}
.activePag a{
  color: #fff !important;
  cursor: inherit !important;
}


a.dod {
    text-transform: capitalize;
    color: #ccc;
}

a.dod:hover{
  color: #ddd;
  font-weight: 900;
}

/* Start Comments Post */
img.uk-comment-avatar {
    border-radius: 50%;
    margin: 9px;
}
a.uk-link-reset {
    color: #fff !important;
    letter-spacing: 3px;
    font-style: italic;
    text-shadow: 1px 1px 2px #000;
}

a.uk-link-muted {
    color: #ddd;
}
ul.uk-comment-list {
  margin-bottom: 18px;
  padding: 9px;
  border-radius: 9px;
}

.uk-comment-body {
  text-align: center;
  color: #f0506e;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 3px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  padding: 1em;
  padding-top: 0px;
}

.hold_comment{
  width: 80%;
  margin: auto;
  margin-top: 4em;
}
.hold_comment_box{
  background: #f0506e;
  margin: 0;
}

.post_info{
  padding: 4px;
  background: #f0506e;
  text-align: left;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  border-radius: 9px;
}
.post_info span{
  color: #ccc;
  font-weight: 900;
}
/* End Comments Post */

/* Post page Tags */
.tags{
  padding: 1em;
  margin: 1em auto;
  text-align: left;
  padding-left: 0;
  color: #2e0080;
  font-weight: 900;
  letter-spacing: 4px;
}
.tags a{
  text-transform: capitalize;
  color: #f0506e;
}
.tags a:hover{
  color: #2e0080;
}

.add_comment{
  background: #f0506e;
  padding: 9px;
  color: #fff;
  font-size: 30px;
  width: 35%;
  margin-bottom: 1em;
}

.post_rating{
  color: #2e0080;
  font-weight: 900;
  letter-spacing: 3px;
}

.post_rating span{
  color: #f0506e;
}

.uk-textarea {
  background: #ccc;
  height: 120px;
  resize: none;
}
.uk-button{
  background: #cccccc;
text-align: center;
margin-top: 1em;
color: #f0506e;
font-weight: 900;
letter-spacing: 2px;
text-transform: capitalize;
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
    border-color: #f0506e;
}
/* Post Page Tags */

/*  Home Page  */
.top_commented{
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 15px;
  text-align: left;
}
/* End Home Page */

h3.post_title_cat a {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}
